<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weekly Report</title>
  </head>
  <body>
    "<p>Hi</p>
      <p>Please click the following link to download the weekly attendance report</p>
      <ul>
        <li><a href='http://172.18.1.37:3000/weekly_report.xlsx' target='blank'>Weekly Report</a></li>
      </ul>
        <p>
          Regards
        </p>"
  </body>
</html>
