<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weekly Report</title>
  </head>
  <body>
    <p>Hi</p>
    <p>
    Click <a href="http://localhost:3000/weekly_report.xlsx">here</a> to download the weekly report.
    </p>
    <p>
      Regards
    </p>

  </body>
</html>
