<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weekly Report</title>
  </head>
  <body>
    <h1>weekly report is ready</h1>
    <<h3><%= Date.today.beginning_of_week..Date.today.end_of_week %></h3>
  </body>
</html>
